<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/set.css" rel="stylesheet">
  </head>

  <body>
   <div class="navbar">
       
        <a href="index.html" class="brand">Post IT!</a>
	 
	   <div class="container-fluid">
	   <div class="row" style="float:right">
	 
		<div class="col-lg-3 col-md-3 col-sm-2"><a href="about.html">О Нас</a></div>
		<div class="col-lg-3 col-md-3 col-sm-2"><a href="contacts.html">Контакты</a></div>
		<div class="col-lg-3 col-md-3 col-sm-2"><a href="cab.html" >Аккаунт</a></div>
	  	<div class="col-lg-3 col-md-3 col-sm-2"><a href="index.html" >Выйти</a></div>
		   </div>
      </div>
     </div>

    <div class=container>
     <h1>
     Привет
     </h1>
       <b> Наш проект позволяет вам рассылать ваши Посты в те соц. сети, которые вы выберете.<br>
           Начать пользоваться Post IT'ом достаточно легко:<br>
           <li>Зарегестрируйтесь. </li>
           <li>Залогиньтесь в те соц. сети, в которые хотите выкладывать свои Посты.</li>
		   <li>Готово! Можете начинать постить. </li></b>
    </div>
  </body>
</html>