<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/set.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <div class="container-fluid">
      <div class="row">
       <div class="col-lg-2 col-md-2">
        <a href="/" class="brand">Post IT!</a>
	   </div>
	   
    	
      	<form class="navbar-form form-signin" method="post" style="float:right">
			<div class="col-lg-1 col-md-1" ><b style="font-size:20px">Вход</b></div>
			<div class="col-lg-4 col-md-4" ><input name="username"    type="text"    class="form-control" placeholder="Username" required autofocus></div>
			<div class="col-lg-4 col-md-4" ><input name="password" type="password" class="form-control" placeholder="Пароль" ></div>
            	<div class="col-lg-1 col-md-1" ><button type="submit"  class="btn btn-primary">Войти</button></div>
		</div>
    	</form>
		  </div>
    </div>
   </div>

   
    <div class=container>
    <div class="row">
    <div class=col-lg-6 col-md-6>
     <h1>
     	Привет
     </h1>
      	<b>Наш проект позволяет вам рассылать ваши Посты в те соц. сети, которые вы выберете.<br>
           Начать пользоваться Post IT'ом достаточно легко:<br>
           <li>Зарегестрируйтесь.</li>
           <li>Залогиньтесь в те соц. сети, в которые хотите выкладывать свои Посты.</li>
		   <li>Готово! Можете начинать постить.</li></b>
		</div>
   
    
		<div class=col-lg-6 col-md-6>
    	<form class="form-signin" role="form" method="post">
		  <h2 class="form-signin-heading">Регистрация</h2>
            <input name="email" type="email"    class="form-control" placeholder="E-mail"  required>
		    <input name="username" type="login"    class="form-control" placeholder="Логин"          required>
            <input name="password"  type="password" class="form-control" placeholder="Пароль"       required id="password1">
		    <input name="passwordAgain"  type="password" class="form-control" placeholder="Повторите пароль" required id="password2">
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
      
      </form>
      
		</div>
      </div>
    </div>
  </body>
</html>