<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Вход</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/set.css" rel="stylesheet">
  </head>

  <body>

    <div class=navbar>
        <ul>
            <li class= bar><a href="/" style="margin-left: 120px" class="brand">Post IT!</a></li>
        </ul>
    </div>
    
	  <div class="container reg">
      <form class="form-signin" role="form" method="post">
		  <h2 class="form-signin-heading">Please Log in</h2>
        <input type="text" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
			<input type="checkbox" value="remember-me">Запомнить меня
        </label>

		  <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-left: 200px; margin-top: 70px">Log in</button>
      </form>
    </div>
  </body>
</html>