<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/set.css" rel="stylesheet">
  </head>

  <body>

 <div class="navbar">
       
        <a href="/" class="brand">Post IT!</a>
	 
	   <div class="container-fluid">
	   <div class="row" style="float:right">
	 
		<div class="col-lg-4 col-md-4 col-sm-4"><a href="/contacts">Контакты</a></div>
    <div class="col-lg-4 col-md-4 col-sm-4"><a href="/profile" >Профиль</a></div>
      <div class="col-lg-4 col-md-4 col-sm-4"><a href="/logout" >Выйти</a></div>
		   </div>
      </div>
     </div>
	  
    <div class=container style="padding-top:30px; height:200px;">
    
    <div style="margin-bottom:70px"><b>Залогиньтесь в ваши социальные сети в которые хотите отправить свои Post'ы</b></div>
    <div class="row">
    
    <div class="col-lg-4 col-md-4"><a href="/networks/vk" class="btn btn-block btn-social btn-vk" style="float:left"><span class="fa fa-vk"></span>Подключить Вконтакте</a></div>
    
		<div class="col-lg-4 col-md-4"><a class="btn btn-block btn-social btn-twitter" style="margin-left:70px" ><span class="fa fa-twitter"></span><strike>Подключить Твиттер</strike></a></div>
    
		<div class="col-lg-4 col-md-4"><a class="btn btn-block btn-social btn-twitter" style="float:right"><span class="fa fa-facebook"></span><strike>Подключить Фейсбук</strike></a></div>
      
       </div>
	</div>
  </body>
</html>