<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/set.css" rel="stylesheet">
  </head>

  <body>
   <div class="navbar">
       
        <a href="/" class="brand">Post IT!</a>
	 
	   <div class="container-fluid">
	   <div class="row" style="float:right">
	 
		<div class="col-lg-3 col-md-3 col-sm-2"><a href=""></a></div>
		<div class="col-lg-3 col-md-3 col-sm-2"><a href="/contacts">Контакты</a></div>
		<div class="col-lg-3 col-md-3 col-sm-2"><a href="/profile" >Аккаунт</a></div>
	  	<div class="col-lg-3 col-md-3 col-sm-2"><a href="/" >Выйти</a></div>
		   </div>
      </div>
     </div>
       
      <div class="container">
		  <h1>Скопируйте URL с адресной строки сюда.</h1>
     	<form method="post">
      	<br><textarea name="url" placeholder="Введите URL сюда"></textarea></br>
      	<button type="button" name="get" class=" btn btn-primary"><a id="get" href="https://oauth.vk.com/authorize?client_id=5457433&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=offline,wall&response_type=token&v=5.52" target="_blank">Получить</a></button>
		  <button type="submit"  class="btn btn-primary">Отправить</button></form>
      </div>
        
  
  </body>
</html>